In [3]:
# Dataset contains uber pickups in NYC from april to september 2014 and january to june 2015
#Link:
# easyjet.com/asp/EN/members/changeflightoptions.asp

# Base ->  TLC licensed business that dispatches TLC licensed for-hire vehicles

# Files we have

#   1) uber-raw-data-Month14 -> 6 files (1 per month) containing the following information:

#      Header	        Definition
#   Date/Time	    The date and time of the Uber pickup
#   Lat	            The latitude of the Uber pickup
#   Lon	            The longitude of the Uber pickup
#   Base	        The TLC base company code affiliated with the Uber pickup


#   2) uber-raw-data-janjune-15 contains the following information: 

#      Header	                Definition
# Dispatching_base_num	    The TLC base company code of the base that dispatched the Uber
# Pickup_date	            The date and time of the Uber pickup
# Affiliated_base_num	    The TLC base company code affiliated with the Uber pickup
# locationID	            The pickup location ID affiliated with the Uber pickup

# The Base codes are: 
# Base Code	  Base Name
# B02512	    Unter
# B02598	    Hinter
# B02617	    Weiter
# B02682	    Schmecken
# B02764	    Danach-NY
# B02765	    Grun
# B02835	    Dreist
# B02836	    Drinnen

#   3) Uber-jan-feb-FOIL contains the following information: 
# dispatching_base_number      date     active_vehicles        trips
# B02512                     1/1/2015        190                1132
# B02765                     1/1/2015        225                1765


# Ha mais ficheiros de Taxis e outras TLCs.

# Vou dividir agora 1 quadrado para cada coisa que deviamos fazer

In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Reading dataset
uber_april_14 = pd.read_csv('/home/francisco/Desktop/College/Mestrado/1º Ano/2o Semestre/SGD/Assignment3/uber-tlc-foil-response-master/uber-trip-data/uber-raw-data-apr14.csv')
uber_may_14 = pd.read_csv('/home/francisco/Desktop/College/Mestrado/1º Ano/2o Semestre/SGD/Assignment3/uber-tlc-foil-response-master/uber-trip-data/uber-raw-data-may14.csv')
uber_jun_14 = pd.read_csv('/home/francisco/Desktop/College/Mestrado/1º Ano/2o Semestre/SGD/Assignment3/uber-tlc-foil-response-master/uber-trip-data/uber-raw-data-jun14.csv')
uber_jul_14 = pd.read_csv('/home/francisco/Desktop/College/Mestrado/1º Ano/2o Semestre/SGD/Assignment3/uber-tlc-foil-response-master/uber-trip-data/uber-raw-data-jul14.csv')
uber_aug_14 = pd.read_csv('/home/francisco/Desktop/College/Mestrado/1º Ano/2o Semestre/SGD/Assignment3/uber-tlc-foil-response-master/uber-trip-data/uber-raw-data-aug14.csv')
uber_sep_14 = pd.read_csv('/home/francisco/Desktop/College/Mestrado/1º Ano/2o Semestre/SGD/Assignment3/uber-tlc-foil-response-master/uber-trip-data/uber-raw-data-sep14.csv')

In [3]:
# Merging all 6 months datasets

uber_14 = pd.concat([uber_april_14, uber_may_14, uber_jun_14, uber_jul_14, uber_aug_14, uber_sep_14])

In [4]:
uber_14['Date/Time'] = pd.to_datetime(uber_14['Date/Time'])

uber_14['Month'] = uber_14['Date/Time'].dt.month
uber_14['Day'] = uber_14['Date/Time'].dt.day
uber_14['Hour'] = uber_14['Date/Time'].dt.hour
uber_14['Week'] = uber_14['Date/Time'].dt.day_name()

In [71]:
# Group by Days of week and count

uber_14.groupby(uber_14['Week']).count()

           Date/Time     Lat     Lon    Base    Hour   Month     Day
Week
Friday        741139  741139  741139  741139  741139  741139  741139
Monday        541472  541472  541472  541472  541472  541472  541472
Saturday      646114  646114  646114  646114  646114  646114  646114
Sunday        490180  490180  490180  490180  490180  490180  490180
Thursday      755145  755145  755145  755145  755145  755145  755145
Tuesday       663789  663789  663789  663789  663789  663789  663789
Wednesday     696488  696488  696488  696488  696488  696488  696488

In [72]:
# Group by Base and Count
uber_14.groupby(uber_14['Base']).count()

        Date/Time      Lat      Lon     Hour    Month      Day     Week
Base
B02512     205673   205673   205673   205673   205673   205673   205673
B02598    1393113  1393113  1393113  1393113  1393113  1393113  1393113
B02617    1458853  1458853  1458853  1458853  1458853  1458853  1458853
B02682    1212789  1212789  1212789  1212789  1212789  1212789  1212789
B02764     263899   263899   263899   263899   263899   263899   263899

In [73]:
# Group by Hours of Day
uber_14.groupby(uber_14['Hour']).count()

      Date/Time     Lat     Lon    Base   Month     Day    Week
Hour
0        103836  103836  103836  103836  103836  103836  103836
1         67227   67227   67227   67227   67227   67227   67227
2         45865   45865   45865   45865   45865   45865   45865
3         48287   48287   48287   48287   48287   48287   48287
4         55230   55230   55230   55230   55230   55230   55230
5         83939   83939   83939   83939   83939   83939   83939
6        143213  143213  143213  143213  143213  143213  143213
7        193094  193094  193094  193094  193094  193094  193094
8        190504  190504  190504  190504  190504  190504  190504
9        159967  159967  159967  159967  159967  159967  159967
10       159148  159148  159148  159148  159148  159148  159148
11       165703  165703  165703  165703  165703  165703  165703
12       170452  170452  170452  170452  170452  170452  170452
13       195877  195877  195877  195877  195877  195877  195877
14       230625  230625  230625  230625  230625  230625  230625
15       275466  275466  275466  275466  275466  275466  275466
16       313400  313400  313400  313400  313400  313400  313400
17       336190  336190  336190  336190  336190  336190  336190
18       324679  324679  324679  324679  324679  324679  324679
19       294513  294513  294513  294513  294513  294513  294513
20       284604  284604  284604  284604  284604  284604  284604
21       281460  281460  281460  281460  281460  281460  281460
22       241858  241858  241858  241858  241858  241858  241858
23       169190  169190  169190  169190  169190  169190  169190

In [93]:
#Group by Day-Month (Ammount of rides a day)
uber_14.groupby([(uber_14['Month']), (uber_14['Day'])]).count()

           Date/Time    Lat    Lon   Base   Hour   Week
Month Day
4     1        14546  14546  14546  14546  14546  14546
      2        17474  17474  17474  17474  17474  17474
      3        20701  20701  20701  20701  20701  20701
      4        26714  26714  26714  26714  26714  26714
      5        19521  19521  19521  19521  19521  19521
      6        13445  13445  13445  13445  13445  13445
      7        19550  19550  19550  19550  19550  19550
      8        16188  16188  16188  16188  16188  16188
      9        16843  16843  16843  16843  16843  16843
      10       20041  20041  20041  20041  20041  20041
      11       20420  20420  20420  20420  20420  20420
      12       18170  18170  18170  18170  18170  18170
      13       12112  12112  12112  12112  12112  12112
      14       12674  12674  12674  12674  12674  12674
      15       20641  20641  20641  20641  20641  20641
      16       17717  17717  17717  17717  17717  17717
      17       20973  20973  20973  20973  20973  20973
      18       18074  18074  18074  18074  18074  18074
      19       14602  14602  14602  14602  14602  14602
      20       11017  11017  11017  11017  11017  11017
      21       13162  13162  13162  13162  13162  13162
      22       16975  16975  16975  16975  16975  16975
      23       20346  20346  20346  20346  20346  20346
      24       23352  23352  23352  23352  23352  23352
      25       25095  25095  25095  25095  25095  25095
      26       24925  24925  24925  24925  24925  24925
      27       14677  14677  14677  14677  14677  14677
      28       15475  15475  15475  15475  15475  15475
      29       22835  22835  22835  22835  22835  22835
      30       36251  36251  36251  36251  36251  36251
...              ...    ...    ...    ...    ...    ...
9     1        19961  19961  19961  19961  19961  19961
      2        28831  28831  28831  28831  28831  28831
      3        32631  32631  32631  32631  32631  32631
      4        38360  38360  38360  38360  38360  38360
      5        42319  42319  42319  42319  42319  42319
      6        40520  40520  40520  40520  40520  40520
      7        30134  30134  30134  30134  30134  30134
      8        30360  30360  30360  30360  30360  30360
      9        34560  34560  34560  34560  34560  34560
      10       35910  35910  35910  35910  35910  35910
      11       36439  36439  36439  36439  36439  36439
      12       39540  39540  39540  39540  39540  39540
      13       43205  43205  43205  43205  43205  43205
      14       28122  28122  28122  28122  28122  28122
      15       29454  29454  29454  29454  29454  29454
      16       36092  36092  36092  36092  36092  36092
      17       35531  35531  35531  35531  35531  35531
      18       40274  40274  40274  40274  40274  40274
      19       41017  41017  41017  41017  41017  41017
      20       38864  38864  38864  38864  38864  38864
      21       28620  28620  28620  28620  28620  28620
      22       28312  28312  28312  28312  28312  28312
      23       30316  30316  30316  30316  30316  30316
      24       31301  31301  31301  31301  31301  31301
      25       38203  38203  38203  38203  38203  38203
      26       37504  37504  37504  37504  37504  37504
      27       39468  39468  39468  39468  39468  39468
      28       29656  29656  29656  29656  29656  29656
      29       29201  29201  29201  29201  29201  29201
      30       33431  33431  33431  33431  33431  33431

[183 rows x 6 columns]

In [5]:
#Average ride per day

avg_rides_per_day = uber_14.shape[0] / uber_14.groupby([(uber_14['Month']), (uber_14['Day'])]).size().shape[0]
avg_rides_per_day


# (Number of rides|Rows)
# uber_14.shape[0]  

# Number of Days
# uber_14.groupby([(uber_14['Month']), (uber_14['Day'])]).size().shape[0]

24777

In [6]:
#Average ride per week

avg_rides_per_day = uber_14.shape[0] / uber_14.groupby([(uber_14['Month']), (uber_14['Week'])]).size().shape[0]
avg_rides_per_day


# (Number of rides|Rows)
# uber_14.shape[0]  

# Number of Days
# uber_14.groupby([(uber_14['Month']), (uber_14['Day'])]).size().shape[0]

107960

In [4]:
# Exploratory Data analysis

# Uber pickups divided by Base
# Uber pickups divided by day of week
# Uber pickups divided by hour of day
# Average rides per day | average ride per week

# Mark the pickups on a map
# Most frequent locations on HeatMap (Technique by tomas)

# Number of Uber pickups over time (Over the several days of the 6 months)

# Do Regression of the number of pickups over time

# Make sth with FOil file.. need to discuss what

In [ ]:
# Pega nos ficheiros dos taxis|TLCs e comparar com Uber might be intersting.. Need help here

In [ ]:
# Serie Temporal e|ou Clustering ?!?