In [3]:
# Dataset contains uber pickups in NYC from april to september 2014 and january to june 2015
#Link:
# easyjet.com/asp/EN/members/changeflightoptions.asp

# Base ->  TLC licensed business that dispatches TLC licensed for-hire vehicles

# Files we have

#   1) uber-raw-data-Month14 -> 6 files (1 per month) containing the following information:

#      Header	        Definition
#   Date/Time	    The date and time of the Uber pickup
#   Lat	            The latitude of the Uber pickup
#   Lon	            The longitude of the Uber pickup
#   Base	        The TLC base company code affiliated with the Uber pickup


#   2) uber-raw-data-janjune-15 contains the following information: 

#      Header	                Definition
# Dispatching_base_num	    The TLC base company code of the base that dispatched the Uber
# Pickup_date	            The date and time of the Uber pickup
# Affiliated_base_num	    The TLC base company code affiliated with the Uber pickup
# locationID	            The pickup location ID affiliated with the Uber pickup

# The Base codes are: 
# Base Code	  Base Name
# B02512	    Unter
# B02598	    Hinter
# B02617	    Weiter
# B02682	    Schmecken
# B02764	    Danach-NY
# B02765	    Grun
# B02835	    Dreist
# B02836	    Drinnen

#   3) Uber-jan-feb-FOIL contains the following information: 
# dispatching_base_number      date     active_vehicles        trips
# B02512                     1/1/2015        190                1132
# B02765                     1/1/2015        225                1765


# Ha mais ficheiros de Taxis e outras TLCs.

# Vou dividir agora 1 quadrado para cada coisa que deviamos fazer

In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Reading dataset
# Uncomment your path, don't rewrite on the reads
pwd = '/home/pedro/workspace/UC/4ano/2semestre/SGD/project/sgd'
#pwd = '/home/francisco/Desktop/College/Mestrado/1ยบ Ano/2o Semestre/SGD/Assignment3'
uber_april_14 = pd.read_csv(pwd + '/uber-tlc-foil-response-master/uber-trip-data/uber-raw-data-apr14.csv')
uber_may_14 = pd.read_csv(pwd + '/uber-tlc-foil-response-master/uber-trip-data/uber-raw-data-may14.csv')
uber_jun_14 = pd.read_csv(pwd + '/uber-tlc-foil-response-master/uber-trip-data/uber-raw-data-jun14.csv')
uber_jul_14 = pd.read_csv(pwd + '/uber-tlc-foil-response-master/uber-trip-data/uber-raw-data-jul14.csv')
uber_aug_14 = pd.read_csv(pwd + '/uber-tlc-foil-response-master/uber-trip-data/uber-raw-data-aug14.csv')
uber_sep_14 = pd.read_csv(pwd + '/uber-tlc-foil-response-master/uber-trip-data/uber-raw-data-sep14.csv')

In [3]:
# Merging all 6 months datasets

uber_14 = pd.concat([uber_april_14, uber_may_14, uber_jun_14, uber_jul_14, uber_aug_14, uber_sep_14])

In [4]:
uber_14['Date/Time'] = pd.to_datetime(uber_14['Date/Time'])

uber_14['Month'] = uber_14['Date/Time'].dt.month
uber_14['Day'] = uber_14['Date/Time'].dt.day
uber_14['Hour'] = uber_14['Date/Time'].dt.hour
uber_14['Week'] = uber_14['Date/Time'].dt.day_name()

In [71]:
# Group by Days of week and count

uber_14.groupby(uber_14['Week']).count()

           Date/Time     Lat     Lon    Base    Hour   Month     Day
Week
Friday        741139  741139  741139  741139  741139  741139  741139
Monday        541472  541472  541472  541472  541472  541472  541472
Saturday      646114  646114  646114  646114  646114  646114  646114
Sunday        490180  490180  490180  490180  490180  490180  490180
Thursday      755145  755145  755145  755145  755145  755145  755145
Tuesday       663789  663789  663789  663789  663789  663789  663789
Wednesday     696488  696488  696488  696488  696488  696488  696488

In [ ]:
# Group by Base and Count
uber_14.groupby(uber_14['Base']).count()

# Group by Hours of Day
uber_14.groupby(uber_14['Hour']).count()

#Group by Day-Month (Ammount of rides a day)
uber_14.groupby([(uber_14['Month']), (uber_14['Day'])]).count()

#Average ride per day

avg_rides_per_day = uber_14.shape[0] / uber_14.groupby([(uber_14['Month']), (uber_14['Day'])]).size().shape[0]
avg_rides_per_day


# (Number of rides|Rows)
# uber_14.shape[0]  

# Number of Days
# uber_14.groupby([(uber_14['Month']), (uber_14['Day'])]).size().shape[0]

In [1]:
#Average ride per week

avg_rides_per_day = uber_14.shape[0] / uber_14.groupby([(uber_14['Month']), (uber_14['Week'])]).size().shape[0]
avg_rides_per_day


# (Number of rides|Rows)
# uber_14.shape[0]  

# Number of Days
# uber_14.groupby([(uber_14['Month']), (uber_14['Day'])]).size().shape[0]

NameError: name 'uber_14' is not defined

In [4]:
# Exploratory Data analysis

# Uber pickups divided by Base
# Uber pickups divided by day of week
# Uber pickups divided by hour of day
# Average rides per day | average ride per week

# Mark the pickups on a map
# Most frequent locations on HeatMap (Technique by tomas)

# Number of Uber pickups over time (Over the several days of the 6 months)

# Do Regression of the number of pickups over time

# Make sth with FOil file.. need to discuss what

In [ ]:
# Pega nos ficheiros dos taxis|TLCs e comparar com Uber might be intersting.. Need help here

In [ ]:
# Serie Temporal e|ou Clustering ?!?